.utilities {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.paper {
	display: block;
	margin: 20px auto;
	max-width: 960px;

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Cabin', sans-serif !important;
	}

	p {
		font-family: 'Old Standard TT', serif !important;
	}

	.header {
		border-bottom: 5px solid #0D1663;
		text-align: center;
	}

	.story {
		box-sizing: border-box;
		&.borders {
			border: 1px solid black;
		}
	}
}


